segmentation/MaskRCNN/Hold Detector.v2i.coco-segmentation
segmentation/MaskRCNN/epoch1.py
segmentation/MaskRCNN/visualize_prediction.py
segmentation/MaskRCNN/climbing_model.pth
segmentation/MaskRCNN/climbing_model_epoch5.pth
segmentation/SimpleCNN


tabular/telecom2.ipynb